<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386518267749-et3dtdqtgh3qek0k7efrkgh974jnk07h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386518267749-et3dtdqtgh3qek0k7efrkgh974jnk07h</string>
	<key>API_KEY</key>
	<string>AIzaSyBN1O_wQ87DCLlaZo7xeeurvUj0E6A_RjY</string>
	<key>GCM_SENDER_ID</key>
	<string>386518267749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.folkuniversitetetMA22.tobias.sorensson.Nudger</string>
	<key>PROJECT_ID</key>
	<string>nudgerswiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>nudgerswiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386518267749:ios:b646eda81cbc970a3d938c</string>
</dict>
</plist>